.form {
  text-align: center;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #354f52;
  border: 1px solid #354f52;
  color: #fff;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #3c767c;
  border-color: #3c767c;
}
