.bio {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.bio img {
  width: 100%;
  margin-top: -20rem;
  transform: rotate(-5deg) scale(1.05);
}

.bio div {
  background-color: #84a98c;
  width: 800px;
  position: absolute;
  color: #111;
  padding: 4rem;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.25);
  transform: translateY(8rem);
}

.bio div h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.bio div p {
  margin-top: 1rem;
}
